/* header start */
.header{
    width: 1920px;
    height: 1322px;
    background-color: rgba(255, 235, 205, 0.509);
    margin:0 auto;
    font-family: sans-serif;
}
.menubar{
    display: flex;
    justify-content: space-between;
    margin:50px 240px 0px 228px ;
}
.manu-title{
    font-size: 45px;
    font-weight: 700;
}
.menu-options{
    display:flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
.option{
    padding-right:50px ;
}
.header-details{
    text-align: center;
}
.brand-title{
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 32px;
}
.brand-details{
    font-size: 18px;
    font-weight: 400;
    color: #727272;
}
.primary-button{
    width: 180px;
    height: 64px;
    background-color: rgb(255, 149, 0);
    color: white;
    font-size: 20px;
    font-weight:600 ;
    margin: 32px 0 50px 0;
    border-style: none;
    border-radius: 7px;
}
.banner-img{
    padding: 50px 240px 0px 240px;
}